.input-number {
  .disabled {
    opacity: 1;
  }
  input:disabled {
    background-color: #f2f2f2;
    color: #999;
  }

  //temp fix the input number border, waiting for integration of 2.8.2
  // &.number-input {
  //   &.number-input-with-squares {
  //     padding-left: 1.563rem;
  //     padding-right: 5.25rem;
  //     &.number-input-small {
  //       padding-right: 4rem;
  //     }
  //     .icon {
  //       border: 0.0625rem solid #d8d8d8;
  //       border-left: 0;
  //     }
  //     .text-input {
  //       width: 100%;
  //       padding-left: 0.9375rem;
  //       padding-right: 0.9375rem;
  //       border-radius: 0.125rem 0 0 0.125rem;
  //       &.text-input-small {
  //         padding-right: 0.625rem;
  //         padding-left: 0.625rem;
  //       }
  //     }
  //   }
  //   .text-input {
  //     &:focus {
  //       border-color: #d04a02 !important;
  //     }
  //   }
  // }
}
